// Add any custom base CSS can go here


// Foundation
// =≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠
$main-color: #344265;
$light-text-color: #FFFFFF;
$dark-text-color: #344265;
$grey-color: #F8F8F8;
$yellow-color: #FAFF00;


.container{
    width: 1110px;
}
