// Add any custom components here
@import '../components/Wysiwyg';


.book-online-btn{
    @include center-alignment;
    @include font(normal, 800, $font-16, 26px);
    text-transform: uppercase;
    background: $yellow-color;
    color: $main-color;
    outline: none !important;
    border-radius: 12px;
    width: 180px;
    height: 44px;
    .setting_icon{
        margin-right: 9px;
    }
}
.number{
    display: flex;
    align-items: center;
    color: $light-text-color;
    @include font(normal, 800, $font-18, 24px);
    svg{
        margin-right: 6px;
    }
}